<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- jdbc驱动包 -->
    <classPathEntry location="D:\repository\org\postgresql\postgresql\42.2.18\postgresql-42.2.18.jar"/>
    <context id="pgsqlContext">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection
                connectionURL="jdbc:postgresql://139.9.113.221/test?stringtype=unspecified"
                driverClass="org.postgresql.Driver" password="Pvsu1125"
                userId="pvuser" />

        <!--自动生成的实体的存放包路径 -->
        <javaModelGenerator
                targetPackage="com.pvsoul.eec.yuandong.entity"
                targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaModelGenerator>

        <!--自动生成的*Mapper.xml文件存放路径 -->
        <sqlMapGenerator targetPackage="mybatis.mapper"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--自动生成的*Mapper.java存放路径 -->
        <javaClientGenerator
                targetPackage="com.pvsoul.eec.yuandong.mapper"
                targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        <!--
                <table tableName='collect_record' domainObjectName="CollectRecord"
                       delimitIdentifiers="false" delimitAllColumns="false"
                       enableSelectByExample="false" enableDeleteByExample="false"
                       enableCountByExample="false" selectByExampleQueryId="false"
                       enableUpdateByExample="false">
                </table>
                <table tableName='meteorological_data' domainObjectName="MeteorologicalData"
                       delimitIdentifiers="false" delimitAllColumns="false"
                       enableSelectByExample="false" enableDeleteByExample="false"
                       enableCountByExample="false" selectByExampleQueryId="false"
                       enableUpdateByExample="false">
                </table>
                <table tableName='inverter_pv_data' domainObjectName="InverterPvData"
                       delimitIdentifiers="false" delimitAllColumns="false"
                       enableSelectByExample="false" enableDeleteByExample="false"
                       enableCountByExample="false" selectByExampleQueryId="false"
                       enableUpdateByExample="false">
                </table>
                <table tableName='inverter_ac_data' domainObjectName="InverterAcData"
                       delimitIdentifiers="false" delimitAllColumns="false"
                       enableSelectByExample="false" enableDeleteByExample="false"
                       enableCountByExample="false" selectByExampleQueryId="false"
                       enableUpdateByExample="false">
                </table>
        <table tableName='temperature_data' domainObjectName="TemperatureData"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>

        <table tableName='transformer' domainObjectName="Transformer"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='inverter' domainObjectName="Inverter"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='combiner_box' domainObjectName="CombinerBox"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
            <table tableName='temperature_sensor' domainObjectName="TemperatureSensor"
                   delimitIdentifiers="false" delimitAllColumns="false"
                   enableSelectByExample="false" enableDeleteByExample="false"
                   enableCountByExample="false" selectByExampleQueryId="false"
                   enableUpdateByExample="false">
            </table>
            <table tableName='transformer_data' domainObjectName="TransformerData"
                   delimitIdentifiers="false" delimitAllColumns="false"
                   enableSelectByExample="false" enableDeleteByExample="false"
                   enableCountByExample="false" selectByExampleQueryId="false"
                   enableUpdateByExample="false">
            </table>
            <table tableName='inverter_data' domainObjectName="InverterData"
                   delimitIdentifiers="false" delimitAllColumns="false"
                   enableSelectByExample="false" enableDeleteByExample="false"
                   enableCountByExample="false" selectByExampleQueryId="false"
                   enableUpdateByExample="false">
            </table>
            <table tableName='pv_string_data' domainObjectName="PvStringData"
                   delimitIdentifiers="false" delimitAllColumns="false"
                   enableSelectByExample="false" enableDeleteByExample="false"
                   enableCountByExample="false" selectByExampleQueryId="false"
                   enableUpdateByExample="false">
            </table>
        <table tableName='inverter' domainObjectName="Inverter"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='transformer_data' domainObjectName="TransformerData"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='inverter_data' domainObjectName="InverterData"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='base_jinlang_invert_code' domainObjectName="BaseJinlangInvertCode"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='combiner_box_data' domainObjectName="CombinerBoxData"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='base_module_parameter' domainObjectName="BaseModuleParameter"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='power_station' domainObjectName="PowerStation"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='pv_string' domainObjectName="PvString"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='pv_string_real_power_model' domainObjectName="PvStringRealPowerModel"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='pv_string_real_current_model' domainObjectName="PvStringRealCurrentModel"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='pv_string_real_tj_model' domainObjectName="PvStringRealTjModel"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        <table tableName='pv_string_real_thermal_model' domainObjectName="PvStringRealThermalModel"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
        -->
        <table tableName='pv_string_real_model' domainObjectName="PvStringRealModel"
               delimitIdentifiers="false" delimitAllColumns="false"
               enableSelectByExample="false" enableDeleteByExample="false"
               enableCountByExample="false" selectByExampleQueryId="false"
               enableUpdateByExample="false">
        </table>
    </context>
</generatorConfiguration>
