<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pvsoul.eec.yuandong.mapper.BaseModuleParameterMapper">
  <resultMap id="BaseResultMap" type="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    <id column="id" jdbcType="OTHER" property="id" />
    <result column="module_model" jdbcType="VARCHAR" property="moduleModel" />
    <result column="manufactor" jdbcType="VARCHAR" property="manufactor" />
    <result column="stc_pmp" jdbcType="REAL" property="stcPmp" />
    <result column="stc_power _tolerance  " jdbcType="REAL" property="stcPowerTolerance  " />
    <result column="stc_vmp" jdbcType="REAL" property="stcVmp" />
    <result column="stc_imp" jdbcType="REAL" property="stcImp" />
    <result column="stc_voc" jdbcType="REAL" property="stcVoc" />
    <result column="stc_lsc" jdbcType="REAL" property="stcLsc" />
    <result column="stc_efficiency" jdbcType="REAL" property="stcEfficiency" />
    <result column="noct_pmp" jdbcType="REAL" property="noctPmp" />
    <result column="noct_vmp" jdbcType="REAL" property="noctVmp" />
    <result column="noct_imp" jdbcType="REAL" property="noctImp" />
    <result column="noct_voc" jdbcType="REAL" property="noctVoc" />
    <result column="noct_lsc" jdbcType="REAL" property="noctLsc" />
    <result column="temperature_pmp" jdbcType="REAL" property="temperaturePmp" />
    <result column="temperature_voc" jdbcType="REAL" property="temperatureVoc" />
    <result column="temperature_lsc" jdbcType="REAL" property="temperatureLsc" />
    <result column="cell_type" jdbcType="VARCHAR" property="cellType" />
    <result column="cell_length" jdbcType="REAL" property="cellLength" />
    <result column="cell_width" jdbcType="REAL" property="cellWidth" />
    <result column="cell_length_count" jdbcType="INTEGER" property="cellLengthCount" />
    <result column="cell_width_count" jdbcType="INTEGER" property="cellWidthCount" />
    <result column="module_lenth" jdbcType="REAL" property="moduleLenth" />
    <result column="module_width" jdbcType="REAL" property="moduleWidth" />
    <result column="module_thickness" jdbcType="REAL" property="moduleThickness" />
    <result column="module_weight" jdbcType="REAL" property="moduleWeight" />
    <result column="module_frame" jdbcType="VARCHAR" property="moduleFrame" />
    <result column="box_standard" jdbcType="VARCHAR" property="boxStandard" />
    <result column="box_diode_count" jdbcType="INTEGER" property="boxDiodeCount" />
    <result column="cable_area" jdbcType="REAL" property="cableArea" />
    <result column="cable_length" jdbcType="REAL" property="cableLength" />
    <result column="work_vmp" jdbcType="REAL" property="workVmp" />
    <result column="work_min_temperature" jdbcType="REAL" property="workMinTemperature" />
    <result column="work_max_temperature" jdbcType="REAL" property="workMaxTemperature" />
    <result column="max_wind_load" jdbcType="REAL" property="maxWindLoad" />
    <result column="max_snow_load" jdbcType="REAL" property="maxSnowLoad" />
    <result column="work_imp" jdbcType="REAL" property="workImp" />
    <result column="application_level" jdbcType="VARCHAR" property="applicationLevel" />
    <result column="fire_provetion_level" jdbcType="VARCHAR" property="fireProvetionLevel" />
    <result column="rated_temperature" jdbcType="REAL" property="ratedTemperature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, module_model, manufactor, stc_pmp, "stc_power _tolerance

", stc_vmp, stc_imp, 
    stc_voc, stc_lsc, stc_efficiency, noct_pmp, noct_vmp, noct_imp, noct_voc, noct_lsc, 
    temperature_pmp, temperature_voc, temperature_lsc, cell_type, cell_length, cell_width, 
    cell_length_count, cell_width_count, module_lenth, module_width, module_thickness, 
    module_weight, module_frame, box_standard, box_diode_count, cable_area, cable_length, 
    work_vmp, work_min_temperature, work_max_temperature, max_wind_load, max_snow_load, 
    work_imp, application_level, fire_provetion_level, rated_temperature, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_module_parameter
    where id = #{id,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
    delete from base_module_parameter
    where id = #{id,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    insert into base_module_parameter (id, module_model, manufactor, 
      stc_pmp, "stc_power _tolerance

", stc_vmp, 
      stc_imp, stc_voc, stc_lsc, stc_efficiency, 
      noct_pmp, noct_vmp, noct_imp, noct_voc, 
      noct_lsc, temperature_pmp, temperature_voc, 
      temperature_lsc, cell_type, cell_length, 
      cell_width, cell_length_count, cell_width_count, 
      module_lenth, module_width, module_thickness, 
      module_weight, module_frame, box_standard, 
      box_diode_count, cable_area, cable_length, 
      work_vmp, work_min_temperature, work_max_temperature, 
      max_wind_load, max_snow_load, work_imp, 
      application_level, fire_provetion_level, rated_temperature, 
      create_time, update_time)
    values (#{id,jdbcType=OTHER}, #{moduleModel,jdbcType=VARCHAR}, #{manufactor,jdbcType=VARCHAR}, 
      #{stcPmp,jdbcType=REAL}, #{stcPowerTolerance

,jdbcType=REAL}, #{stcVmp,jdbcType=REAL}, 
      #{stcImp,jdbcType=REAL}, #{stcVoc,jdbcType=REAL}, #{stcLsc,jdbcType=REAL}, #{stcEfficiency,jdbcType=REAL}, 
      #{noctPmp,jdbcType=REAL}, #{noctVmp,jdbcType=REAL}, #{noctImp,jdbcType=REAL}, #{noctVoc,jdbcType=REAL}, 
      #{noctLsc,jdbcType=REAL}, #{temperaturePmp,jdbcType=REAL}, #{temperatureVoc,jdbcType=REAL}, 
      #{temperatureLsc,jdbcType=REAL}, #{cellType,jdbcType=VARCHAR}, #{cellLength,jdbcType=REAL}, 
      #{cellWidth,jdbcType=REAL}, #{cellLengthCount,jdbcType=INTEGER}, #{cellWidthCount,jdbcType=INTEGER}, 
      #{moduleLenth,jdbcType=REAL}, #{moduleWidth,jdbcType=REAL}, #{moduleThickness,jdbcType=REAL}, 
      #{moduleWeight,jdbcType=REAL}, #{moduleFrame,jdbcType=VARCHAR}, #{boxStandard,jdbcType=VARCHAR}, 
      #{boxDiodeCount,jdbcType=INTEGER}, #{cableArea,jdbcType=REAL}, #{cableLength,jdbcType=REAL}, 
      #{workVmp,jdbcType=REAL}, #{workMinTemperature,jdbcType=REAL}, #{workMaxTemperature,jdbcType=REAL}, 
      #{maxWindLoad,jdbcType=REAL}, #{maxSnowLoad,jdbcType=REAL}, #{workImp,jdbcType=REAL}, 
      #{applicationLevel,jdbcType=VARCHAR}, #{fireProvetionLevel,jdbcType=VARCHAR}, #{ratedTemperature,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    insert into base_module_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleModel != null">
        module_model,
      </if>
      <if test="manufactor != null">
        manufactor,
      </if>
      <if test="stcPmp != null">
        stc_pmp,
      </if>
      <if test="stcPowerTolerance   != null">
        "stc_power _tolerance

",
      </if>
      <if test="stcVmp != null">
        stc_vmp,
      </if>
      <if test="stcImp != null">
        stc_imp,
      </if>
      <if test="stcVoc != null">
        stc_voc,
      </if>
      <if test="stcLsc != null">
        stc_lsc,
      </if>
      <if test="stcEfficiency != null">
        stc_efficiency,
      </if>
      <if test="noctPmp != null">
        noct_pmp,
      </if>
      <if test="noctVmp != null">
        noct_vmp,
      </if>
      <if test="noctImp != null">
        noct_imp,
      </if>
      <if test="noctVoc != null">
        noct_voc,
      </if>
      <if test="noctLsc != null">
        noct_lsc,
      </if>
      <if test="temperaturePmp != null">
        temperature_pmp,
      </if>
      <if test="temperatureVoc != null">
        temperature_voc,
      </if>
      <if test="temperatureLsc != null">
        temperature_lsc,
      </if>
      <if test="cellType != null">
        cell_type,
      </if>
      <if test="cellLength != null">
        cell_length,
      </if>
      <if test="cellWidth != null">
        cell_width,
      </if>
      <if test="cellLengthCount != null">
        cell_length_count,
      </if>
      <if test="cellWidthCount != null">
        cell_width_count,
      </if>
      <if test="moduleLenth != null">
        module_lenth,
      </if>
      <if test="moduleWidth != null">
        module_width,
      </if>
      <if test="moduleThickness != null">
        module_thickness,
      </if>
      <if test="moduleWeight != null">
        module_weight,
      </if>
      <if test="moduleFrame != null">
        module_frame,
      </if>
      <if test="boxStandard != null">
        box_standard,
      </if>
      <if test="boxDiodeCount != null">
        box_diode_count,
      </if>
      <if test="cableArea != null">
        cable_area,
      </if>
      <if test="cableLength != null">
        cable_length,
      </if>
      <if test="workVmp != null">
        work_vmp,
      </if>
      <if test="workMinTemperature != null">
        work_min_temperature,
      </if>
      <if test="workMaxTemperature != null">
        work_max_temperature,
      </if>
      <if test="maxWindLoad != null">
        max_wind_load,
      </if>
      <if test="maxSnowLoad != null">
        max_snow_load,
      </if>
      <if test="workImp != null">
        work_imp,
      </if>
      <if test="applicationLevel != null">
        application_level,
      </if>
      <if test="fireProvetionLevel != null">
        fire_provetion_level,
      </if>
      <if test="ratedTemperature != null">
        rated_temperature,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="moduleModel != null">
        #{moduleModel,jdbcType=VARCHAR},
      </if>
      <if test="manufactor != null">
        #{manufactor,jdbcType=VARCHAR},
      </if>
      <if test="stcPmp != null">
        #{stcPmp,jdbcType=REAL},
      </if>
      <if test="stcPowerTolerance   != null">
        #{stcPowerTolerance

,jdbcType=REAL},
      </if>
      <if test="stcVmp != null">
        #{stcVmp,jdbcType=REAL},
      </if>
      <if test="stcImp != null">
        #{stcImp,jdbcType=REAL},
      </if>
      <if test="stcVoc != null">
        #{stcVoc,jdbcType=REAL},
      </if>
      <if test="stcLsc != null">
        #{stcLsc,jdbcType=REAL},
      </if>
      <if test="stcEfficiency != null">
        #{stcEfficiency,jdbcType=REAL},
      </if>
      <if test="noctPmp != null">
        #{noctPmp,jdbcType=REAL},
      </if>
      <if test="noctVmp != null">
        #{noctVmp,jdbcType=REAL},
      </if>
      <if test="noctImp != null">
        #{noctImp,jdbcType=REAL},
      </if>
      <if test="noctVoc != null">
        #{noctVoc,jdbcType=REAL},
      </if>
      <if test="noctLsc != null">
        #{noctLsc,jdbcType=REAL},
      </if>
      <if test="temperaturePmp != null">
        #{temperaturePmp,jdbcType=REAL},
      </if>
      <if test="temperatureVoc != null">
        #{temperatureVoc,jdbcType=REAL},
      </if>
      <if test="temperatureLsc != null">
        #{temperatureLsc,jdbcType=REAL},
      </if>
      <if test="cellType != null">
        #{cellType,jdbcType=VARCHAR},
      </if>
      <if test="cellLength != null">
        #{cellLength,jdbcType=REAL},
      </if>
      <if test="cellWidth != null">
        #{cellWidth,jdbcType=REAL},
      </if>
      <if test="cellLengthCount != null">
        #{cellLengthCount,jdbcType=INTEGER},
      </if>
      <if test="cellWidthCount != null">
        #{cellWidthCount,jdbcType=INTEGER},
      </if>
      <if test="moduleLenth != null">
        #{moduleLenth,jdbcType=REAL},
      </if>
      <if test="moduleWidth != null">
        #{moduleWidth,jdbcType=REAL},
      </if>
      <if test="moduleThickness != null">
        #{moduleThickness,jdbcType=REAL},
      </if>
      <if test="moduleWeight != null">
        #{moduleWeight,jdbcType=REAL},
      </if>
      <if test="moduleFrame != null">
        #{moduleFrame,jdbcType=VARCHAR},
      </if>
      <if test="boxStandard != null">
        #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="boxDiodeCount != null">
        #{boxDiodeCount,jdbcType=INTEGER},
      </if>
      <if test="cableArea != null">
        #{cableArea,jdbcType=REAL},
      </if>
      <if test="cableLength != null">
        #{cableLength,jdbcType=REAL},
      </if>
      <if test="workVmp != null">
        #{workVmp,jdbcType=REAL},
      </if>
      <if test="workMinTemperature != null">
        #{workMinTemperature,jdbcType=REAL},
      </if>
      <if test="workMaxTemperature != null">
        #{workMaxTemperature,jdbcType=REAL},
      </if>
      <if test="maxWindLoad != null">
        #{maxWindLoad,jdbcType=REAL},
      </if>
      <if test="maxSnowLoad != null">
        #{maxSnowLoad,jdbcType=REAL},
      </if>
      <if test="workImp != null">
        #{workImp,jdbcType=REAL},
      </if>
      <if test="applicationLevel != null">
        #{applicationLevel,jdbcType=VARCHAR},
      </if>
      <if test="fireProvetionLevel != null">
        #{fireProvetionLevel,jdbcType=VARCHAR},
      </if>
      <if test="ratedTemperature != null">
        #{ratedTemperature,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    update base_module_parameter
    <set>
      <if test="moduleModel != null">
        module_model = #{moduleModel,jdbcType=VARCHAR},
      </if>
      <if test="manufactor != null">
        manufactor = #{manufactor,jdbcType=VARCHAR},
      </if>
      <if test="stcPmp != null">
        stc_pmp = #{stcPmp,jdbcType=REAL},
      </if>
      <if test="stcPowerTolerance   != null">
        "stc_power _tolerance

" = #{stcPowerTolerance

,jdbcType=REAL},
      </if>
      <if test="stcVmp != null">
        stc_vmp = #{stcVmp,jdbcType=REAL},
      </if>
      <if test="stcImp != null">
        stc_imp = #{stcImp,jdbcType=REAL},
      </if>
      <if test="stcVoc != null">
        stc_voc = #{stcVoc,jdbcType=REAL},
      </if>
      <if test="stcLsc != null">
        stc_lsc = #{stcLsc,jdbcType=REAL},
      </if>
      <if test="stcEfficiency != null">
        stc_efficiency = #{stcEfficiency,jdbcType=REAL},
      </if>
      <if test="noctPmp != null">
        noct_pmp = #{noctPmp,jdbcType=REAL},
      </if>
      <if test="noctVmp != null">
        noct_vmp = #{noctVmp,jdbcType=REAL},
      </if>
      <if test="noctImp != null">
        noct_imp = #{noctImp,jdbcType=REAL},
      </if>
      <if test="noctVoc != null">
        noct_voc = #{noctVoc,jdbcType=REAL},
      </if>
      <if test="noctLsc != null">
        noct_lsc = #{noctLsc,jdbcType=REAL},
      </if>
      <if test="temperaturePmp != null">
        temperature_pmp = #{temperaturePmp,jdbcType=REAL},
      </if>
      <if test="temperatureVoc != null">
        temperature_voc = #{temperatureVoc,jdbcType=REAL},
      </if>
      <if test="temperatureLsc != null">
        temperature_lsc = #{temperatureLsc,jdbcType=REAL},
      </if>
      <if test="cellType != null">
        cell_type = #{cellType,jdbcType=VARCHAR},
      </if>
      <if test="cellLength != null">
        cell_length = #{cellLength,jdbcType=REAL},
      </if>
      <if test="cellWidth != null">
        cell_width = #{cellWidth,jdbcType=REAL},
      </if>
      <if test="cellLengthCount != null">
        cell_length_count = #{cellLengthCount,jdbcType=INTEGER},
      </if>
      <if test="cellWidthCount != null">
        cell_width_count = #{cellWidthCount,jdbcType=INTEGER},
      </if>
      <if test="moduleLenth != null">
        module_lenth = #{moduleLenth,jdbcType=REAL},
      </if>
      <if test="moduleWidth != null">
        module_width = #{moduleWidth,jdbcType=REAL},
      </if>
      <if test="moduleThickness != null">
        module_thickness = #{moduleThickness,jdbcType=REAL},
      </if>
      <if test="moduleWeight != null">
        module_weight = #{moduleWeight,jdbcType=REAL},
      </if>
      <if test="moduleFrame != null">
        module_frame = #{moduleFrame,jdbcType=VARCHAR},
      </if>
      <if test="boxStandard != null">
        box_standard = #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="boxDiodeCount != null">
        box_diode_count = #{boxDiodeCount,jdbcType=INTEGER},
      </if>
      <if test="cableArea != null">
        cable_area = #{cableArea,jdbcType=REAL},
      </if>
      <if test="cableLength != null">
        cable_length = #{cableLength,jdbcType=REAL},
      </if>
      <if test="workVmp != null">
        work_vmp = #{workVmp,jdbcType=REAL},
      </if>
      <if test="workMinTemperature != null">
        work_min_temperature = #{workMinTemperature,jdbcType=REAL},
      </if>
      <if test="workMaxTemperature != null">
        work_max_temperature = #{workMaxTemperature,jdbcType=REAL},
      </if>
      <if test="maxWindLoad != null">
        max_wind_load = #{maxWindLoad,jdbcType=REAL},
      </if>
      <if test="maxSnowLoad != null">
        max_snow_load = #{maxSnowLoad,jdbcType=REAL},
      </if>
      <if test="workImp != null">
        work_imp = #{workImp,jdbcType=REAL},
      </if>
      <if test="applicationLevel != null">
        application_level = #{applicationLevel,jdbcType=VARCHAR},
      </if>
      <if test="fireProvetionLevel != null">
        fire_provetion_level = #{fireProvetionLevel,jdbcType=VARCHAR},
      </if>
      <if test="ratedTemperature != null">
        rated_temperature = #{ratedTemperature,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    update base_module_parameter
    set module_model = #{moduleModel,jdbcType=VARCHAR},
      manufactor = #{manufactor,jdbcType=VARCHAR},
      stc_pmp = #{stcPmp,jdbcType=REAL},
      "stc_power _tolerance

" = #{stcPowerTolerance

,jdbcType=REAL},
      stc_vmp = #{stcVmp,jdbcType=REAL},
      stc_imp = #{stcImp,jdbcType=REAL},
      stc_voc = #{stcVoc,jdbcType=REAL},
      stc_lsc = #{stcLsc,jdbcType=REAL},
      stc_efficiency = #{stcEfficiency,jdbcType=REAL},
      noct_pmp = #{noctPmp,jdbcType=REAL},
      noct_vmp = #{noctVmp,jdbcType=REAL},
      noct_imp = #{noctImp,jdbcType=REAL},
      noct_voc = #{noctVoc,jdbcType=REAL},
      noct_lsc = #{noctLsc,jdbcType=REAL},
      temperature_pmp = #{temperaturePmp,jdbcType=REAL},
      temperature_voc = #{temperatureVoc,jdbcType=REAL},
      temperature_lsc = #{temperatureLsc,jdbcType=REAL},
      cell_type = #{cellType,jdbcType=VARCHAR},
      cell_length = #{cellLength,jdbcType=REAL},
      cell_width = #{cellWidth,jdbcType=REAL},
      cell_length_count = #{cellLengthCount,jdbcType=INTEGER},
      cell_width_count = #{cellWidthCount,jdbcType=INTEGER},
      module_lenth = #{moduleLenth,jdbcType=REAL},
      module_width = #{moduleWidth,jdbcType=REAL},
      module_thickness = #{moduleThickness,jdbcType=REAL},
      module_weight = #{moduleWeight,jdbcType=REAL},
      module_frame = #{moduleFrame,jdbcType=VARCHAR},
      box_standard = #{boxStandard,jdbcType=VARCHAR},
      box_diode_count = #{boxDiodeCount,jdbcType=INTEGER},
      cable_area = #{cableArea,jdbcType=REAL},
      cable_length = #{cableLength,jdbcType=REAL},
      work_vmp = #{workVmp,jdbcType=REAL},
      work_min_temperature = #{workMinTemperature,jdbcType=REAL},
      work_max_temperature = #{workMaxTemperature,jdbcType=REAL},
      max_wind_load = #{maxWindLoad,jdbcType=REAL},
      max_snow_load = #{maxSnowLoad,jdbcType=REAL},
      work_imp = #{workImp,jdbcType=REAL},
      application_level = #{applicationLevel,jdbcType=VARCHAR},
      fire_provetion_level = #{fireProvetionLevel,jdbcType=VARCHAR},
      rated_temperature = #{ratedTemperature,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=OTHER}
  </update>
  <resultMap id="BaseResultMap" type="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    <result column="id" jdbcType="OTHER" property="id" />
    <result column="module_model" jdbcType="VARCHAR" property="moduleModel" />
    <result column="manufactor" jdbcType="VARCHAR" property="manufactor" />
    <result column="stc_pmp" jdbcType="REAL" property="stcPmp" />
    <result column="stc_power _tolerance  " jdbcType="REAL" property="stcPowerTolerance  " />
    <result column="stc_vmp" jdbcType="REAL" property="stcVmp" />
    <result column="stc_imp" jdbcType="REAL" property="stcImp" />
    <result column="stc_voc" jdbcType="REAL" property="stcVoc" />
    <result column="stc_lsc" jdbcType="REAL" property="stcLsc" />
    <result column="stc_efficiency" jdbcType="REAL" property="stcEfficiency" />
    <result column="noct_pmp" jdbcType="REAL" property="noctPmp" />
    <result column="noct_vmp" jdbcType="REAL" property="noctVmp" />
    <result column="noct_imp" jdbcType="REAL" property="noctImp" />
    <result column="noct_voc" jdbcType="REAL" property="noctVoc" />
    <result column="noct_lsc" jdbcType="REAL" property="noctLsc" />
    <result column="temperature_pmp" jdbcType="REAL" property="temperaturePmp" />
    <result column="temperature_voc" jdbcType="REAL" property="temperatureVoc" />
    <result column="temperature_lsc" jdbcType="REAL" property="temperatureLsc" />
    <result column="cell_type" jdbcType="VARCHAR" property="cellType" />
    <result column="cell_length" jdbcType="REAL" property="cellLength" />
    <result column="cell_width" jdbcType="REAL" property="cellWidth" />
    <result column="cell_length_count" jdbcType="INTEGER" property="cellLengthCount" />
    <result column="cell_width_count" jdbcType="INTEGER" property="cellWidthCount" />
    <result column="module_lenth" jdbcType="REAL" property="moduleLenth" />
    <result column="module_width" jdbcType="REAL" property="moduleWidth" />
    <result column="module_thickness" jdbcType="REAL" property="moduleThickness" />
    <result column="module_weight" jdbcType="REAL" property="moduleWeight" />
    <result column="module_frame" jdbcType="VARCHAR" property="moduleFrame" />
    <result column="box_standard" jdbcType="VARCHAR" property="boxStandard" />
    <result column="box_diode_count" jdbcType="INTEGER" property="boxDiodeCount" />
    <result column="cable_area" jdbcType="REAL" property="cableArea" />
    <result column="cable_length" jdbcType="REAL" property="cableLength" />
    <result column="work_vmp" jdbcType="REAL" property="workVmp" />
    <result column="work_min_temperature" jdbcType="REAL" property="workMinTemperature" />
    <result column="work_max_temperature" jdbcType="REAL" property="workMaxTemperature" />
    <result column="max_wind_load" jdbcType="REAL" property="maxWindLoad" />
    <result column="max_snow_load" jdbcType="REAL" property="maxSnowLoad" />
    <result column="work_imp" jdbcType="REAL" property="workImp" />
    <result column="application_level" jdbcType="VARCHAR" property="applicationLevel" />
    <result column="fire_provetion_level" jdbcType="VARCHAR" property="fireProvetionLevel" />
    <result column="rated_temperature" jdbcType="REAL" property="ratedTemperature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    insert into base_module_parameter (id, module_model, manufactor, 
      stc_pmp, "stc_power _tolerance

", stc_vmp, 
      stc_imp, stc_voc, stc_lsc, stc_efficiency, 
      noct_pmp, noct_vmp, noct_imp, noct_voc, 
      noct_lsc, temperature_pmp, temperature_voc, 
      temperature_lsc, cell_type, cell_length, 
      cell_width, cell_length_count, cell_width_count, 
      module_lenth, module_width, module_thickness, 
      module_weight, module_frame, box_standard, 
      box_diode_count, cable_area, cable_length, 
      work_vmp, work_min_temperature, work_max_temperature, 
      max_wind_load, max_snow_load, work_imp, 
      application_level, fire_provetion_level, rated_temperature, 
      create_time, update_time)
    values (#{id,jdbcType=OTHER}, #{moduleModel,jdbcType=VARCHAR}, #{manufactor,jdbcType=VARCHAR}, 
      #{stcPmp,jdbcType=REAL}, #{stcPowerTolerance

,jdbcType=REAL}, #{stcVmp,jdbcType=REAL}, 
      #{stcImp,jdbcType=REAL}, #{stcVoc,jdbcType=REAL}, #{stcLsc,jdbcType=REAL}, #{stcEfficiency,jdbcType=REAL}, 
      #{noctPmp,jdbcType=REAL}, #{noctVmp,jdbcType=REAL}, #{noctImp,jdbcType=REAL}, #{noctVoc,jdbcType=REAL}, 
      #{noctLsc,jdbcType=REAL}, #{temperaturePmp,jdbcType=REAL}, #{temperatureVoc,jdbcType=REAL}, 
      #{temperatureLsc,jdbcType=REAL}, #{cellType,jdbcType=VARCHAR}, #{cellLength,jdbcType=REAL}, 
      #{cellWidth,jdbcType=REAL}, #{cellLengthCount,jdbcType=INTEGER}, #{cellWidthCount,jdbcType=INTEGER}, 
      #{moduleLenth,jdbcType=REAL}, #{moduleWidth,jdbcType=REAL}, #{moduleThickness,jdbcType=REAL}, 
      #{moduleWeight,jdbcType=REAL}, #{moduleFrame,jdbcType=VARCHAR}, #{boxStandard,jdbcType=VARCHAR}, 
      #{boxDiodeCount,jdbcType=INTEGER}, #{cableArea,jdbcType=REAL}, #{cableLength,jdbcType=REAL}, 
      #{workVmp,jdbcType=REAL}, #{workMinTemperature,jdbcType=REAL}, #{workMaxTemperature,jdbcType=REAL}, 
      #{maxWindLoad,jdbcType=REAL}, #{maxSnowLoad,jdbcType=REAL}, #{workImp,jdbcType=REAL}, 
      #{applicationLevel,jdbcType=VARCHAR}, #{fireProvetionLevel,jdbcType=VARCHAR}, #{ratedTemperature,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pvsoul.eec.yuandong.entity.BaseModuleParameter">
    insert into base_module_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleModel != null">
        module_model,
      </if>
      <if test="manufactor != null">
        manufactor,
      </if>
      <if test="stcPmp != null">
        stc_pmp,
      </if>
      <if test="stcPowerTolerance   != null">
        "stc_power _tolerance

",
      </if>
      <if test="stcVmp != null">
        stc_vmp,
      </if>
      <if test="stcImp != null">
        stc_imp,
      </if>
      <if test="stcVoc != null">
        stc_voc,
      </if>
      <if test="stcLsc != null">
        stc_lsc,
      </if>
      <if test="stcEfficiency != null">
        stc_efficiency,
      </if>
      <if test="noctPmp != null">
        noct_pmp,
      </if>
      <if test="noctVmp != null">
        noct_vmp,
      </if>
      <if test="noctImp != null">
        noct_imp,
      </if>
      <if test="noctVoc != null">
        noct_voc,
      </if>
      <if test="noctLsc != null">
        noct_lsc,
      </if>
      <if test="temperaturePmp != null">
        temperature_pmp,
      </if>
      <if test="temperatureVoc != null">
        temperature_voc,
      </if>
      <if test="temperatureLsc != null">
        temperature_lsc,
      </if>
      <if test="cellType != null">
        cell_type,
      </if>
      <if test="cellLength != null">
        cell_length,
      </if>
      <if test="cellWidth != null">
        cell_width,
      </if>
      <if test="cellLengthCount != null">
        cell_length_count,
      </if>
      <if test="cellWidthCount != null">
        cell_width_count,
      </if>
      <if test="moduleLenth != null">
        module_lenth,
      </if>
      <if test="moduleWidth != null">
        module_width,
      </if>
      <if test="moduleThickness != null">
        module_thickness,
      </if>
      <if test="moduleWeight != null">
        module_weight,
      </if>
      <if test="moduleFrame != null">
        module_frame,
      </if>
      <if test="boxStandard != null">
        box_standard,
      </if>
      <if test="boxDiodeCount != null">
        box_diode_count,
      </if>
      <if test="cableArea != null">
        cable_area,
      </if>
      <if test="cableLength != null">
        cable_length,
      </if>
      <if test="workVmp != null">
        work_vmp,
      </if>
      <if test="workMinTemperature != null">
        work_min_temperature,
      </if>
      <if test="workMaxTemperature != null">
        work_max_temperature,
      </if>
      <if test="maxWindLoad != null">
        max_wind_load,
      </if>
      <if test="maxSnowLoad != null">
        max_snow_load,
      </if>
      <if test="workImp != null">
        work_imp,
      </if>
      <if test="applicationLevel != null">
        application_level,
      </if>
      <if test="fireProvetionLevel != null">
        fire_provetion_level,
      </if>
      <if test="ratedTemperature != null">
        rated_temperature,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="moduleModel != null">
        #{moduleModel,jdbcType=VARCHAR},
      </if>
      <if test="manufactor != null">
        #{manufactor,jdbcType=VARCHAR},
      </if>
      <if test="stcPmp != null">
        #{stcPmp,jdbcType=REAL},
      </if>
      <if test="stcPowerTolerance   != null">
        #{stcPowerTolerance

,jdbcType=REAL},
      </if>
      <if test="stcVmp != null">
        #{stcVmp,jdbcType=REAL},
      </if>
      <if test="stcImp != null">
        #{stcImp,jdbcType=REAL},
      </if>
      <if test="stcVoc != null">
        #{stcVoc,jdbcType=REAL},
      </if>
      <if test="stcLsc != null">
        #{stcLsc,jdbcType=REAL},
      </if>
      <if test="stcEfficiency != null">
        #{stcEfficiency,jdbcType=REAL},
      </if>
      <if test="noctPmp != null">
        #{noctPmp,jdbcType=REAL},
      </if>
      <if test="noctVmp != null">
        #{noctVmp,jdbcType=REAL},
      </if>
      <if test="noctImp != null">
        #{noctImp,jdbcType=REAL},
      </if>
      <if test="noctVoc != null">
        #{noctVoc,jdbcType=REAL},
      </if>
      <if test="noctLsc != null">
        #{noctLsc,jdbcType=REAL},
      </if>
      <if test="temperaturePmp != null">
        #{temperaturePmp,jdbcType=REAL},
      </if>
      <if test="temperatureVoc != null">
        #{temperatureVoc,jdbcType=REAL},
      </if>
      <if test="temperatureLsc != null">
        #{temperatureLsc,jdbcType=REAL},
      </if>
      <if test="cellType != null">
        #{cellType,jdbcType=VARCHAR},
      </if>
      <if test="cellLength != null">
        #{cellLength,jdbcType=REAL},
      </if>
      <if test="cellWidth != null">
        #{cellWidth,jdbcType=REAL},
      </if>
      <if test="cellLengthCount != null">
        #{cellLengthCount,jdbcType=INTEGER},
      </if>
      <if test="cellWidthCount != null">
        #{cellWidthCount,jdbcType=INTEGER},
      </if>
      <if test="moduleLenth != null">
        #{moduleLenth,jdbcType=REAL},
      </if>
      <if test="moduleWidth != null">
        #{moduleWidth,jdbcType=REAL},
      </if>
      <if test="moduleThickness != null">
        #{moduleThickness,jdbcType=REAL},
      </if>
      <if test="moduleWeight != null">
        #{moduleWeight,jdbcType=REAL},
      </if>
      <if test="moduleFrame != null">
        #{moduleFrame,jdbcType=VARCHAR},
      </if>
      <if test="boxStandard != null">
        #{boxStandard,jdbcType=VARCHAR},
      </if>
      <if test="boxDiodeCount != null">
        #{boxDiodeCount,jdbcType=INTEGER},
      </if>
      <if test="cableArea != null">
        #{cableArea,jdbcType=REAL},
      </if>
      <if test="cableLength != null">
        #{cableLength,jdbcType=REAL},
      </if>
      <if test="workVmp != null">
        #{workVmp,jdbcType=REAL},
      </if>
      <if test="workMinTemperature != null">
        #{workMinTemperature,jdbcType=REAL},
      </if>
      <if test="workMaxTemperature != null">
        #{workMaxTemperature,jdbcType=REAL},
      </if>
      <if test="maxWindLoad != null">
        #{maxWindLoad,jdbcType=REAL},
      </if>
      <if test="maxSnowLoad != null">
        #{maxSnowLoad,jdbcType=REAL},
      </if>
      <if test="workImp != null">
        #{workImp,jdbcType=REAL},
      </if>
      <if test="applicationLevel != null">
        #{applicationLevel,jdbcType=VARCHAR},
      </if>
      <if test="fireProvetionLevel != null">
        #{fireProvetionLevel,jdbcType=VARCHAR},
      </if>
      <if test="ratedTemperature != null">
        #{ratedTemperature,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>