<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pvsoul.eec.yuandong.mapper.CombinerBoxDataMapper">
  <resultMap id="BaseResultMap" type="com.pvsoul.eec.yuandong.entity.CombinerBoxData">
    <id column="id" jdbcType="OTHER" property="id" />
    <result column="power_station_id" jdbcType="OTHER" property="powerStationId" />
    <result column="inverter_id" jdbcType="OTHER" property="inverterId" />
    <result column="combiner_box_id" jdbcType="OTHER" property="combinerBoxId" />
    <result column="u" jdbcType="REAL" property="u" />
    <result column="i" jdbcType="REAL" property="i" />
    <result column="temperature" jdbcType="REAL" property="temperature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="device_time" jdbcType="TIMESTAMP" property="deviceTime" />
    <result column="transformer_id" jdbcType="OTHER" property="transformerId" />
    <result column="p" jdbcType="REAL" property="p" />
  </resultMap>
  <sql id="Base_Column_List">
    id, power_station_id, inverter_id, combiner_box_id, u, i, temperature, create_time, 
    device_time, transformer_id, p
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from combiner_box_data
    where id = #{id,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
    delete from combiner_box_data
    where id = #{id,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="com.pvsoul.eec.yuandong.entity.CombinerBoxData">
    insert into combiner_box_data (id, power_station_id, inverter_id, 
      combiner_box_id, u, i, temperature, 
      create_time, device_time, transformer_id, 
      p)
    values (#{id,jdbcType=OTHER}, #{powerStationId,jdbcType=OTHER}, #{inverterId,jdbcType=OTHER}, 
      #{combinerBoxId,jdbcType=OTHER}, #{u,jdbcType=REAL}, #{i,jdbcType=REAL}, #{temperature,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deviceTime,jdbcType=TIMESTAMP}, #{transformerId,jdbcType=OTHER}, 
      #{p,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.pvsoul.eec.yuandong.entity.CombinerBoxData">
    insert into combiner_box_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="powerStationId != null">
        power_station_id,
      </if>
      <if test="inverterId != null">
        inverter_id,
      </if>
      <if test="combinerBoxId != null">
        combiner_box_id,
      </if>
      <if test="u != null">
        u,
      </if>
      <if test="i != null">
        i,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deviceTime != null">
        device_time,
      </if>
      <if test="transformerId != null">
        transformer_id,
      </if>
      <if test="p != null">
        p,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="powerStationId != null">
        #{powerStationId,jdbcType=OTHER},
      </if>
      <if test="inverterId != null">
        #{inverterId,jdbcType=OTHER},
      </if>
      <if test="combinerBoxId != null">
        #{combinerBoxId,jdbcType=OTHER},
      </if>
      <if test="u != null">
        #{u,jdbcType=REAL},
      </if>
      <if test="i != null">
        #{i,jdbcType=REAL},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceTime != null">
        #{deviceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transformerId != null">
        #{transformerId,jdbcType=OTHER},
      </if>
      <if test="p != null">
        #{p,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pvsoul.eec.yuandong.entity.CombinerBoxData">
    update combiner_box_data
    <set>
      <if test="powerStationId != null">
        power_station_id = #{powerStationId,jdbcType=OTHER},
      </if>
      <if test="inverterId != null">
        inverter_id = #{inverterId,jdbcType=OTHER},
      </if>
      <if test="combinerBoxId != null">
        combiner_box_id = #{combinerBoxId,jdbcType=OTHER},
      </if>
      <if test="u != null">
        u = #{u,jdbcType=REAL},
      </if>
      <if test="i != null">
        i = #{i,jdbcType=REAL},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceTime != null">
        device_time = #{deviceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transformerId != null">
        transformer_id = #{transformerId,jdbcType=OTHER},
      </if>
      <if test="p != null">
        p = #{p,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pvsoul.eec.yuandong.entity.CombinerBoxData">
    update combiner_box_data
    set power_station_id = #{powerStationId,jdbcType=OTHER},
      inverter_id = #{inverterId,jdbcType=OTHER},
      combiner_box_id = #{combinerBoxId,jdbcType=OTHER},
      u = #{u,jdbcType=REAL},
      i = #{i,jdbcType=REAL},
      temperature = #{temperature,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      device_time = #{deviceTime,jdbcType=TIMESTAMP},
      transformer_id = #{transformerId,jdbcType=OTHER},
      p = #{p,jdbcType=REAL}
    where id = #{id,jdbcType=OTHER}
  </update>
  <select id="getCombinerBoxInfoList" parameterType="com.pvsoul.eec.yuandong.dao.QueryDeviceInfoDao" resultType="com.pvsoul.eec.yuandong.dao.CombinerBoxInfoDao">
    SELECT ID ,
	box_no,
	status,
	( SELECT u FROM combiner_box_data cbd WHERE cbd.combiner_box_id = cb.ID and device_time &gt;= #{startTime} and device_time &lt;= #{endTime} ORDER BY device_time DESC LIMIT 1 ) u,
	( SELECT i FROM combiner_box_data cbd WHERE cbd.combiner_box_id = cb.ID and device_time &gt;= #{startTime} and device_time &lt;= #{endTime} ORDER BY device_time DESC LIMIT 1 ) i,
	( SELECT P FROM combiner_box_data cbd WHERE cbd.combiner_box_id = cb.ID and device_time &gt;= #{startTime} and device_time &lt;= #{endTime} ORDER BY device_time DESC LIMIT 1 ) P,
	( SELECT temperature FROM combiner_box_data cbd WHERE cbd.combiner_box_id = cb.ID and device_time &gt;= #{startTime} and device_time &lt;= #{endTime} ORDER BY device_time DESC LIMIT 1 ) temperature,
	( SELECT COUNT ( 1 ) FROM pv_string WHERE combiner_box_id = cb.ID ) pv_string_count
FROM
	combiner_box cb
    <where>
      <if test="deviceStatus != null">
        and cb.status = #{deviceStatus}
      </if>
    </where>
    ORDER BY box_no
  </select>
</mapper>