<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pvsoul.eec.yuandong.mapper.MeteorologicalDataMapper">
  <resultMap id="BaseResultMap" type="com.pvsoul.eec.yuandong.entity.MeteorologicalData">
    <id column="id" jdbcType="OTHER" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="temperature" jdbcType="REAL" property="temperature" />
    <result column="rain_fall" jdbcType="INTEGER" property="rainFall" />
    <result column="pressure" jdbcType="REAL" property="pressure" />
    <result column="humidity" jdbcType="REAL" property="humidity" />
    <result column="wind_direction" jdbcType="INTEGER" property="windDirection" />
    <result column="wind_speed" jdbcType="REAL" property="windSpeed" />
    <result column="irradiance" jdbcType="REAL" property="irradiance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, temperature, rain_fall, pressure, humidity, wind_direction, wind_speed, 
    irradiance, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from meteorological_data
    where id = #{id,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
    delete from meteorological_data
    where id = #{id,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="com.pvsoul.eec.yuandong.entity.MeteorologicalData">
    insert into meteorological_data (id, device_id, temperature, 
      rain_fall, pressure, humidity, 
      wind_direction, wind_speed, irradiance, 
      create_time)
    values (#{id,jdbcType=OTHER}, #{deviceId,jdbcType=VARCHAR}, #{temperature,jdbcType=REAL}, 
      #{rainFall,jdbcType=INTEGER}, #{pressure,jdbcType=REAL}, #{humidity,jdbcType=REAL}, 
      #{windDirection,jdbcType=INTEGER}, #{windSpeed,jdbcType=REAL}, #{irradiance,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pvsoul.eec.yuandong.entity.MeteorologicalData">
    insert into meteorological_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="rainFall != null">
        rain_fall,
      </if>
      <if test="pressure != null">
        pressure,
      </if>
      <if test="humidity != null">
        humidity,
      </if>
      <if test="windDirection != null">
        wind_direction,
      </if>
      <if test="windSpeed != null">
        wind_speed,
      </if>
      <if test="irradiance != null">
        irradiance,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=REAL},
      </if>
      <if test="rainFall != null">
        #{rainFall,jdbcType=INTEGER},
      </if>
      <if test="pressure != null">
        #{pressure,jdbcType=REAL},
      </if>
      <if test="humidity != null">
        #{humidity,jdbcType=REAL},
      </if>
      <if test="windDirection != null">
        #{windDirection,jdbcType=INTEGER},
      </if>
      <if test="windSpeed != null">
        #{windSpeed,jdbcType=REAL},
      </if>
      <if test="irradiance != null">
        #{irradiance,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pvsoul.eec.yuandong.entity.MeteorologicalData">
    update meteorological_data
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=REAL},
      </if>
      <if test="rainFall != null">
        rain_fall = #{rainFall,jdbcType=INTEGER},
      </if>
      <if test="pressure != null">
        pressure = #{pressure,jdbcType=REAL},
      </if>
      <if test="humidity != null">
        humidity = #{humidity,jdbcType=REAL},
      </if>
      <if test="windDirection != null">
        wind_direction = #{windDirection,jdbcType=INTEGER},
      </if>
      <if test="windSpeed != null">
        wind_speed = #{windSpeed,jdbcType=REAL},
      </if>
      <if test="irradiance != null">
        irradiance = #{irradiance,jdbcType=REAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pvsoul.eec.yuandong.entity.MeteorologicalData">
    update meteorological_data
    set device_id = #{deviceId,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=REAL},
      rain_fall = #{rainFall,jdbcType=INTEGER},
      pressure = #{pressure,jdbcType=REAL},
      humidity = #{humidity,jdbcType=REAL},
      wind_direction = #{windDirection,jdbcType=INTEGER},
      wind_speed = #{windSpeed,jdbcType=REAL},
      irradiance = #{irradiance,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=OTHER}
  </update>
</mapper>